<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ControllerType" value="SQLiteCreation.Controllers.Controller" />
    <add key="TSVFileName" value="WriteLines.tsv" />
    <add key="OutputDBFileName" value="MyDatabase.sqlite" />
    <add key="CycleSizeToDisplay" value="30000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
